# Traing house price pridction model

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [34]:
# Read data
df = pd.read_csv("../data/prepared_data.csv")
df.head()

,Persquare_price,Area,Facing_East,Facing_North,Facing_South,Facing_West,Decoration_Level,Floor_Level
0,38544.0,56.30,0,0,1,0,1,2
1,33667.0,55.10,0,0,1,0,3,1
2,91429.0,70.00,0,0,1,0,1,3
3,102752.0,98.49,0,0,1,0,1,4
4,98847.0,60.70,0,0,1,0,3,4

In [35]:
df.iloc[:,1:]

,Area,Facing_East,Facing_North,Facing_South,Facing_West,Decoration_Level,Floor_Level
0,56.30,0,0,1,0,1,2
1,55.10,0,0,1,0,3,1
2,70.00,0,0,1,0,1,3
3,98.49,0,0,1,0,1,4
4,60.70,0,0,1,0,3,4
...,...,...,...,...,...,...,...
69299,46.00,0,0,1,0,3,1
69300,53.10,0,0,1,0,3,2
69301,70.20,0,0,1,0,3,5
69302,71.90,0,0,1,0,3,3
69303,60.28,0,0,1,0,3,3

In [36]:
regr = linear_model.LinearRegression()
regr = reg.fit(df.iloc[:,1:], df.iloc[:,0])

In [37]:
diabetes_X_test.shape

(69304, 8)

In [38]:
diabetes_y_pred.shape

(69304,)

In [39]:
diabetes_y_test = df.iloc[:,1]
diabetes_y_pred = regr.predict(df.iloc[:,1:])
diabetes_X_test = df.iloc[:,1:]

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(diabetes_y_test, diabetes_y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(diabetes_y_test, diabetes_y_pred))

Coefficients:
 [  -52.1135853   -174.99241219 -2559.82071378  1697.91716592
  1036.89596004 -7188.56559695  -432.4642509 ]
Mean squared error: 3826876066.02
Coefficient of determination: -2677418.14

In [41]:
# Predcit single 

regr.predict([[56.30,0,0,1,0,1,2]])

array([70762.73109553])

In [42]:
from joblib import dump, load

dump(regr, '../model/model.joblib')

['../model/model.joblib']

In [43]:
# regr = load('../model/model.joblib')